<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="submit" value="Enviar" class="btn btn-default" />
        @* Direciona o usuário para o controler Home e a view Index *@ 
        <a href="@Url.Action("Index", "Home")" class="btn btn-info">Voltar</a>
    </div>
</div>
