<html>
<head>
    @*Titulo da aplicação*@
    <title>@ViewData["Title"] - Minha App Modelo</title>

    @*
        Configuração por ambiente - Caso o seu ambiente seja de desenvolvimento carregue este trecho, porque caso você esteje em ambiente de desenvolvimento é 
            necessário que você tenha os arquivos fisicos na sua máquina.
    *@
    <environment include="Development">
        <link href="~/css/site_bundle.min.css" rel="stylesheet" />
    </environment>

    @*
        Configuração por ambiente - Caso o seu ambiente não seja de desenvolvimento carregue este trecho, porque as CDNs, carregam varios sites, então suponhamos
            que a pessoa passou por um outro site que tenha estes arquivos, já ficaram na maquina dela, fazendo com que o seu site carregue de forma mais rápida.
        Está foi uma solução inteligente que a Microsoft teve para facilitar a velocidade. Porém caso você queira utilizar os arquivos fixos, pode utilizar conforme
            está feito para o ambiente de desenvolvimento, mas não é necessário, porque se ele não encontra o arquivo na maquina do cliente, ele direciona automaticamente
            para o arquivo fisico.
    *@
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
</head>
<body>
    @* Menu *@
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppModelo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    @*Renderiza o body*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*Criação de Tag Helper*@
            Minha app Modelo - <email>contato</email> - <email email-domain="gmail.com">contato</email>

        </div>
    </footer>

    @*Arquivo local*@
    <environment include="Development">
        <script src="~/js/site_bundle.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    @*Arquivo CDN/Local*@
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        @*Removido, para parar de aparecer o maldito alerta de teste*@
        @*<script src="~/js/site.js"></script>*@
    </environment>

</body>
</html>